*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}
.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin-top: 0 auto;
    padding: 20px 10px;
}
.gallery figure video{
    width: 300px;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallery figure:hover video {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.gallery::after{
    content: "";
    width: 350px;
}
figure video[poster]{
    width: 100%;
    height: 100%;
}